<!DOCTYPE html> 
<head> 
	<title> 
		How to get selected value in 
		dropdown list using JavaScript? 
	</title> 
</head> 

<body> 
	<h1 style="color: green"> 
		Please select the details for your streetcar trip Mar 19
	</h1> 
	
<!--	<b> 
		How to get selected value in 
		dropdown list using JavaScript? 
	</b> -->
	
	<p> 
		Select the route of your trip: 
		<select id="route"> 
			<option value="501">501 / Queen</option> 
			<option value="502">502 / Downtowner</option> 
			<option value="503">503 / Kingston Rd</option> 
			<option value="504">504 / King</option> 
			<option value="505">505 / Dundas</option> 
			<option value="506">506 / Carlton</option> 
			<option value="510">510 / Spadina</option> 
			<option value="511">511 / Bathurst</option> 
			<option value="512">512 / St Clair</option> 
			<option value="301">301 / Queen (night)</option> 
			<option value="304">304 / King (night)</option> 
			<option value="306">306 / Carlton (night)</option> 
			<option value="310">310 / Spadina (night)</option> 
		</select> 
	</p> 
	<p> 
		Select the direction of your trip: 
		<select id="direction"> 
			<option value="e">Eastbound</option> 
			<option value="w">Westbound</option> 
			<option value="n">Northbound</option> 
			<option value="s">Southbound</option> 
		</select> 
	</p>
	<p> 
		Select the year of your trip: 
		<select id="year"> 
			<option value="e">Eastbound</option> 
			<option value="w">Westbound</option> 
			<option value="n">Northbound</option> 
			<option value="s">Southbound</option> 
		</select> 
	</p>
	<p> 
		Select the month of your trip: 
		<select id="month"> 
			<option value="e">Eastbound</option> 
			<option value="w">Westbound</option> 
			<option value="n">Northbound</option> 
			<option value="s">Southbound</option> 
		</select> 
	</p>
	<p> 
		Select the day of the month of your trip: 
		<select id="daym"> 
			<option value="e">Eastbound</option> 
			<option value="w">Westbound</option> 
			<option value="n">Northbound</option> 
			<option value="s">Southbound</option> 
		</select> 
	</p>
	<p> 
		Select the day of your trip: 
		<select id="daym"> 
			<option value="Sunday">Sunday</option> 
			<option value="w">Westbound</option> 
			<option value="n">Northbound</option> 
			<option value="s">Southbound</option> 
		</select> 
	</p>
	<p> 
		Select the hour of your trip: 
		<select id="daym"> 
			<option value="0">Eastbound</option> 
			<option value="1">Westbound</option> 
			<option value="2">Northbound</option> 
			<option value="3">Southbound</option>
			<option value="4">Eastbound</option> 
			<option value="5">Westbound</option> 
			<option value="6">Northbound</option> 
			<option value="7">Southbound</option>
			<option value="8">Eastbound</option> 
			<option value="9">Westbound</option> 
			<option value="10">Northbound</option> 
			<option value="11">Southbound</option>
			<option value="12">Eastbound</option> 
			<option value="13">Westbound</option> 
			<option value="14">Northbound</option> 
			<option value="15">Southbound</option>
			<option value="16">Northbound</option> 
			<option value="17">Southbound</option>
			<option value="18">Eastbound</option> 
			<option value="19">Westbound</option> 
			<option value="20">Northbound</option> 
			<option value="21">Southbound</option>
			<option value="22">Eastbound</option> 
			<option value="23">Westbound</option> 
		</select> 
	</p>
	<p> 
		The value of the option selected is: 
		<span class="output"></span> 
	</p> 
	
	<button onclick="getOption()"> 
		Check option 
	</button> 
	
	<script type="text/javascript"> 
		function getOption() { 
			selectElementRoute = document.querySelector('#route'); 
			selectElementDirection = document.querySelector('#direction');
					
			//output = 
			//selectElement.options[selectElement.selectedIndex].value; 
			route_string = selectElementRoute.options[selectElementRoute.selectedIndex].value
			direction_string = selectElementDirection.options[selectElementDirection.selectedIndex].value
			output = route_string.concat(" ",direction_string)
			//output = concat(selectElementRoute.options[selectElementRoute.selectedIndex].value," ",selectElementDirection.options[selectElementDirection.selectedIndex].value)

			document.querySelector('.output').textContent = output; 
		} 
	</script> 
</body> 




</html>					 
